Repository rbardini/storybook-addon-paddings: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{html,json,md,yml}": "prettier --write"
}

remove disable story and default param
  example/stories/2-Card.stories.js
  src/preset/defaultParameters.tsx
Due: eslint --fix, prettier --write

add react and react-dom as peer dependencies
  package-lock.json
  package.json
Due: prettier --write

add react-dom dep
  example/package.json
Due: prettier --write

add react also as dev-dependency
  package-lock.json
  package.json
Due: prettier --write

save exact
  package.json
Due: prettier --write

feat(config)!: use object parameter instead of array (#10)
  README.md
  example/package.json
  package-lock.json
  package.json
  src/constants.tsx
  src/containers/PaddingSelector.tsx
  src/helpers.tsx
  src/index.tsx
  src/preset/addDecorator.tsx
  src/preset/defaultParameters.tsx
  src/preset/index.tsx
  src/register.tsx
  src/types.tsx
Due: eslint --fix, prettier --write

docs(demo): use JS.ORG URL
  README.md
  example/package.json
  example/public/_redirects
Due: prettier --write

Set brand title
  example/.storybook/manager.js
Due: eslint --fix, prettier --write

Remove Essentials and Link addons
  example/.storybook/main.js
  example/package.json
Due: eslint --fix, prettier --write

Add Storysource addon
  example/.storybook/main.js
  example/package.json
Due: eslint --fix, prettier --write

Extract Card component to separate file
  example/src/Card.js
Due: eslint --fix, prettier --write

Refactor all stories
  example/.storybook/main.js
  example/src/Card.stories.js
  example/stories/0-Welcome.stories.js
  example/stories/1-Button.stories.js
  example/stories/2-Card.stories.js
Due: eslint --fix, prettier --write

docs(example): update example stories (#22)
  example/.storybook/main.js
  example/.storybook/manager.js
  example/package.json
  example/src/Card.js
  example/src/Card.stories.js
  example/stories/0-Welcome.stories.js
  example/stories/1-Button.stories.js
  example/stories/2-Card.stories.js
Due: eslint --fix, prettier --write

docs(package): add addon catalog icon and metadata
  icon.svg
  package.json
Due: prettier --write

build(release): use semantic-release action
  .github/workflows/main.yml
  .releaserc.json
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  ef03e9d7990a0f8ad0ae1aaa3ea6e894cd098358
Due: none

Update dependencies
  .eslintrc
  .husky/.gitignore
  .husky/pre-commit
  .huskyrc
  package-lock.json
  package.json
Due: prettier --write

Define stricter files field
  package.json
Due: prettier --write

Update .gitignore
  .gitignore
Due: none

Update setup-node GitHub Action
  .github/workflows/main.yml
Due: prettier --write

Build ESM and CJS files
  .babelrc
  .babelrc.js
  package-lock.json
  package.json
  preset.js
  register.js
  src/preset/addParameter.tsx
  src/preset/index.tsx
  src/types.tsx
  tsconfig.json
Due: eslint --fix, prettier --write

Fix linting errors
  .eslintrc
  example/src/Card.stories.js
Due: eslint --fix, prettier --write

Update example dependencies
  example/package.json
Due: prettier --write

feat(esm): include ESM and CommonJS builds (#25)
  .babelrc
  .babelrc.js
  .eslintrc
  .github/workflows/main.yml
  .gitignore
  .husky/.gitignore
  .husky/pre-commit
  .huskyrc
  example/package.json
  example/src/Card.stories.js
  package-lock.json
  package.json
  preset.js
  register.js
  src/preset/addParameter.tsx
  src/preset/index.tsx
  src/types.tsx
  tsconfig.json
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  653dd0640e64ffda1360cf21228f545f02f129f7
Due: none

Add export map and normalize paths
  package.json
Due: prettier --write

Sort package.json
  package.json
Due: prettier --write

Add package quality check
  .github/workflows/main.yml
  package-lock.json
  package.json
Due: prettier --write

Move README demo link
  README.md
Due: prettier --write

Update dependencies
  package-lock.json
  package.json
Due: prettier --write

fix(package): improve package quality score (#26)
  .github/workflows/main.yml
  README.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  4f44084ba2ecaec49a1cafd8b9de518f4ddc36d4
Due: none

Use Storybook Docs addon in example
  example/.storybook/main.js
  example/package.json
Due: eslint --fix, prettier --write

Remove ESLint ignore comments from hooks
  src/index.tsx
Due: eslint --fix, prettier --write

Set styles for story and docs view modes
  src/index.tsx
Due: eslint --fix, prettier --write

Match both story and docs view modes
  src/register.tsx
Due: eslint --fix, prettier --write

Extract docs view mode variable
  src/index.tsx
Due: eslint --fix, prettier --write

feat(mode): support docs view mode (#27)
  example/.storybook/main.js
  example/package.json
  src/index.tsx
  src/register.tsx
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  33a4bf6fa7af7d9989e9df157ddee66ea27cc10f
Due: none

fix(selector): don't apply paddings to "show code" button
  src/index.tsx
Due: eslint --fix, prettier --write
