Repository rbardini/storybook-addon-paddings: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

style(prettier): setup Prettier and format all files (#15)
  .babelrc
  .eslintrc
  .github/workflows/main.yml
  .lintstagedrc
  .prettierrc
  README.md
  example/.storybook/preview-head.html
  example/stories/1-Button.stories.js
  example/stories/2-Card.stories.js
  package-lock.json
  package.json
  src/components/Svg.tsx
  src/containers/PaddingSelector.tsx
  src/helpers.tsx
  src/index.tsx
  src/register.tsx
  tsconfig.json
Due: eslint --fix, prettier --write

docs(readme): update live demo URL
  README.md
Due: prettier --write

Update minor and patch dependencies
  package-lock.json
  package.json
Due: prettier --write

Update major dependencies
  .eslintrc
  package-lock.json
  package.json
  src/index.tsx
Due: eslint --fix, prettier --write

Replace actions addon with essentials
  example/.storybook/main.js
  example/package.json
Due: eslint --fix, prettier --write

Fix linting errors
  .eslintrc
  example/.eslintrc
Due: none

Replace deprecated addParameters and addDecorator APIs
  example/.storybook/preview.js
Due: eslint --fix, prettier --write

Update example dependencies
  example/package-lock.json
  example/package.json
Due: prettier --write

Add preset
  .eslintrc
  example/.storybook/preview.js
  preset.js
  src/helpers.tsx
  src/index.tsx
  src/preset/addDecorator.tsx
  src/preset/defaultParameters.tsx
  src/preset/index.tsx
Due: eslint --fix, prettier --write

Define stories' arguments
  example/stories/0-Welcome.stories.js
  example/stories/1-Button.stories.js
  example/stories/2-Card.stories.js
Due: eslint --fix, prettier --write

Remove example package-lock
  .github/workflows/main.yml
  example/.npmrc
  example/package-lock.json
  netlify.toml
Due: prettier --write

Update README
  README.md
Due: prettier --write

chore(deps): update dependencies and configuration options (#16)
  .eslintrc
  .github/workflows/main.yml
  README.md
  example/.eslintrc
  example/.npmrc
  example/.storybook/main.js
  example/.storybook/preview.js
  example/package-lock.json
  example/package.json
  example/stories/0-Welcome.stories.js
  example/stories/1-Button.stories.js
  example/stories/2-Card.stories.js
  netlify.toml
  package-lock.json
  package.json
  preset.js
  src/helpers.tsx
  src/index.tsx
  src/preset/addDecorator.tsx
  src/preset/defaultParameters.tsx
  src/preset/index.tsx
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  0e5a125d364814028abffe18020a291810d6cb3a
Due: none

update to globals
  package-lock.json
  package.json
  src/containers/PaddingSelector.tsx
  src/helpers.tsx
  src/index.tsx
  src/preset/addDecorator.tsx
  src/preset/defaultParameters.tsx
  src/register.tsx
Due: eslint --fix, prettier --write

add specific file for types
  src/constants.tsx
  src/containers/PaddingSelector.tsx
  src/helpers.tsx
  src/index.tsx
  src/preset/index.tsx
  src/types.tsx
Due: eslint --fix, prettier --write

remove core events
  package.json
Due: prettier --write

update storybook in example
  example/package.json
Due: prettier --write

update storybook to latest
  package-lock.json
  package.json
Due: prettier --write

update storybook deps to latest
  example/package.json
Due: prettier --write

remove logger and update react
  package-lock.json
  package.json
Due: prettier --write

update react in example
  example/package.json
Due: prettier --write

remove supoport for array
  src/helpers.tsx
  src/types.tsx
Due: eslint --fix, prettier --write

fix vulnerabilities
  package-lock.json
  package.json
Due: prettier --write

update watch command and exact version
  package.json
Due: prettier --write

Use version ranges in example dependencies
  example/package.json
Due: prettier --write

Set default padding to 0
  src/constants.tsx
Due: eslint --fix, prettier --write

Reset margin to 0 by default
  src/index.tsx
Due: eslint --fix, prettier --write

Remove preview styles from example
  example/.storybook/preview-head.html
Due: prettier --write

feat(reset): set preview margins and paddings to 0 by default (#19)
  example/.storybook/preview-head.html
  example/package.json
  src/constants.tsx
  src/index.tsx
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  f31361f79bca94028d5a6e7e54f1e77f3385aabd
Due: none

Run workflow on pull requests
  .github/workflows/main.yml
Due: prettier --write

ci(workflow): run main workflow on pull requests (#20)
  .github/workflows/main.yml
Due: prettier --write

ci(workflow): fix release step
  .github/workflows/main.yml
Due: prettier --write

ci(workflow): rename main workflow job
  .github/workflows/main.yml
Due: prettier --write

Fix createPaddingSelectorItem argument type
  src/containers/PaddingSelector.tsx
Due: eslint --fix, prettier --write

Highlighted selected option
  src/containers/PaddingSelector.tsx
Due: eslint --fix, prettier --write

Use Storybook Link type
  src/containers/PaddingSelector.tsx
Due: eslint --fix, prettier --write

feat(selector): highlight selected padding option (#21)
  src/containers/PaddingSelector.tsx
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  16816af712484a90db6627696e79563711c799db
Due: none

Path conditions:
  eslint --fix: any of: *.{js,tsx}
  prettier --write: (any of: *.{js,tsx}) or (any of: *.{html,json,md,yml})
