Repository rbardini/storybook-addon-paddings: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore(deps): update dependencies
  .husky/.gitignore
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  898b95d17d66364d0b01e3176ebef81abe353d59
Due: none

Load MDX stories
  example/.storybook/main.js
Due: eslint --fix, prettier --write

Add example MDX stories
  example/src/Card.stories.mdx
Due: none

Add selector for MDX stories in docs view mode
  src/index.tsx
Due: eslint --fix, prettier --write

chore(deps): update dependencies
  package-lock.json
  package.json
  src/components/PaddingIcon.tsx
  src/components/Svg.tsx
Due: eslint --fix, prettier --write

chore(deps): update dependencies
  .eslintrc
  package-lock.json
  package.json
  src/containers/PaddingSelector.tsx
Due: eslint --fix, prettier --write

docs(readme): add black square button emoji
  README.md
Due: prettier --write

docs(readme): fix dependencies badge
  README.md
Due: prettier --write

fix(deps): allow React v18 in peer dependencies
  package-lock.json
  package.json
Due: prettier --write

feat(a11y): respect reduced motion preference
  src/helpers.tsx
  src/index.tsx
Due: eslint --fix, prettier --write

chore(deps): update dependencies
  .github/workflows/main.yml
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  5f571f17f8101a4a18667370ac12d59efce77636
Due: none

build(example): define Node.js version
  .nvmrc
Due: none

Notes added by 'git notes add'
  43fe3f224f38e4d9251d1ef842732c003e9e3f28
Due: none

fix(deps): update dependencies
  package-lock.json
  package.json
  src/Tool.tsx
  src/components/PaddingIcon.tsx
  src/manager.tsx
  tsup.config.ts
Due: eslint --fix, prettier --write

docs(readme): update demo URL
  README.md
Due: prettier --write

ci(workflow): update action versions
  .github/workflows/main.yml
  .nvmrc
Due: prettier --write

Notes added by 'git notes add'
  ec993577c0469f496eee9ed8c409f6b659ab6aee
Due: none

feat(deps)!: migrate to Storybook 8.0
  .husky/pre-commit
  .prettierrc.json
  .storybook/local-preset.js
  .storybook/main.ts
  .storybook/preview.ts
  manager.js
  package-lock.json
  package.json
  src/Tool.tsx
  src/components/PaddingIcon.tsx
  src/helpers.ts
  src/manager.ts
  src/manager.tsx
  src/types.ts
  tsup.config.ts
Due: eslint --fix, prettier --write

feat(deps)!: migrate to Storybook 8.0 (#45)
  .husky/pre-commit
  .prettierrc.json
  .storybook/local-preset.js
  .storybook/main.ts
  .storybook/preview.ts
  manager.js
  package-lock.json
  package.json
  src/Tool.tsx
  src/components/PaddingIcon.tsx
  src/helpers.ts
  src/manager.ts
  src/manager.tsx
  src/types.ts
  tsup.config.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  f765fcb7ecba6efb4bef607273b50aa27aae20e2
Due: none

perf(memo): remove padding item memoization
  package-lock.json
  package.json
  src/Tool.tsx
  src/types.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  b2011e9919f60bc84410d12ea887509659fbe35d
Due: none

fix(selector): close tooltip on outside click
  src/Tool.tsx
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  0d234009b668bd5937dc9eb32e49b64f99909e3e
Due: none

ci(branch): rename `master` branch `main`
  .github/workflows/main.yml
Due: prettier --write

feat(deps)!: migrate to Storybook 9.0
  .github/workflows/main.yml
  .storybook/local-preset.cjs
  .storybook/main.ts
  .storybook/manager.ts
  .storybook/preview.ts
  package-lock.json
  package.json
  src/Tool.tsx
  src/helpers.ts
  src/manager.ts
  src/preview.ts
  src/stories/Card.stories.ts
  src/stories/Card.tsx
  src/types.ts
  src/withGlobals.ts
  tsconfig.json
  tsup.config.ts
Due: eslint --fix, prettier --write

feat(deps)!: migrate to Storybook 9.0 (#53)
  .github/workflows/main.yml
  .storybook/local-preset.cjs
  .storybook/main.ts
  .storybook/manager.ts
  .storybook/preview.ts
  package-lock.json
  package.json
  src/Tool.tsx
  src/helpers.ts
  src/manager.ts
  src/preview.ts
  src/stories/Card.stories.ts
  src/stories/Card.tsx
  src/types.ts
  src/withGlobals.ts
  tsconfig.json
  tsup.config.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  3d97107b3588b6040ae76beac033a01b52899136
Due: none

feat(deps)!: migrate to Storybook 10
  .storybook/local-preset.cjs
  .storybook/local-preset.ts
  .storybook/main.ts
  package-lock.json
  package.json
  src/index.ts
  tsconfig.json
  tsup.config.ts
Due: prettier --write

ci(workflow): configure trusted publishing
  .github/workflows/main.yml
Due: prettier --write

feat(deps)!: migrate to Storybook 10 (#56)
  .github/workflows/main.yml
  .storybook/local-preset.cjs
  .storybook/local-preset.ts
  .storybook/main.ts
  package-lock.json
  package.json
  src/index.ts
  tsconfig.json
  tsup.config.ts
Due: prettier --write

Notes added by 'git notes add'
  3b1a4e4224ec40076698eb27778905b6ef7ba2e6
Due: none

ci(workflow): read Node.js version from `.nvmrc`
  .github/workflows/main.yml
  .nvmrc
Due: prettier --write

feat(deps)!: migrate to Storybook 11
  .storybook/preview.ts
  README.md
  package-lock.json
  package.json
  src/Tool.tsx
  src/stories/Card.stories.ts
  src/types.ts
  tsconfig.json
Due: eslint --fix, prettier --write

feat(deps): update React, Vite and TypeScript
  package-lock.json
  package.json
Due: prettier --write

build(deps): migrate from tsup to tsdown
  package-lock.json
  package.json
  src/vite-env.d.ts
  tsconfig.json
  tsdown.config.ts
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,tsx}
  prettier --write: (any of: *.{js,tsx}) or (any of: *.{html,json,md,yml})
